body {
  padding-top: 70px;
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
 background-color: #4788d1;
/* height: 80px; necessaire avec le navbar-fixed-top pour que le scrolling marche */
 border: 0;
}
.jumbotron{
  background-color: #f8f8f8;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Company name */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.glyphicon {
  color:white;
  text-shadow: 1px 1px 1px #222;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49; 
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.4em;
}

/*header button appearance when in small device*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  background-color: #4788d1;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 10px;  
}

#address {
  line-height: 2;
}

#Serenytics > span, #address > span {
  font-size: 1.3em;
  font-weight: bold;  
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

/* END HOME PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    height: 675px;
  }
  .btn-info{
    margin-left: 24px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header 
 
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    height: 558px;
  }
  .col-md-4 { /*TDO*/
    margin-bottom: 15px;
    padding-top: 0px;
  }
  
   .btn-info{
    margin-left: 24px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    height: 432px;
  }
  .col-md-4 { /*TDO*/
    margin-bottom: 15px;
    padding-top: 0px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /*  name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /*  */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Not useful for the moment */
    height: 20px;
  }
  .col-md-4 { /*TDO*/
    margin-bottom: 15px;
    padding-top: 0px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  /*#menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }*/
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



